extends layout

block content
  h1= title
  p Welcome to #{title}
  
  script(src='/javascripts/index_graph.js')
  
  h2 Price By Locality
    
  svg(class='price_locality_graph')
  
  h2 Total Listings By Locality
  
  svg(class='locality_count_listings_graph')
    
  
    
  //ul
  //each row in items
  //  li= row.description
  //    
  //else
  //  li There are no results.
